<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby</h1>
    <div id="lobbySettings">
        <label for="maxPlayers">Max Players:</label>
        <input type="number" id="maxPlayers" value="3" min="1" max="10"><br>

        <label for="lineLengthToWin">Line Length to Win:</label>
        <input type="number" id="lineLengthToWin" value="4" min="3" max="10"><br>

        <label for="boardSize">Board Size:</label>
        <input type="number" id="boardSize" value="20" min="3" max="50"><br>

        <label for="playerPawns">Player Pawns (comma-separated):</label>
        <input type="text" id="playerPawns" value="X,Y,Z"><br>
    </div>
    <button id="saveSettingsButton">Save Settings</button>
    <button id="startGameButton">Start Game</button>
    <ul id="playerList"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/lobby.js"></script>
    <script>
        
    </script>
</body>
</html>