<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комната для игры</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Добро пожаловать в комнату игры</h1>
    <h3>Комната <span id="roomIdLabel"></span></h3>

    <h4>Игроки:</h4>
    <ul id="playerList"></ul>

    <button id="resetButton">Играть сначала</button>

    <main>
        <h2><span id="currentPlayerTitle">Ход игрока</span> <span id="currentPlayerLabel"></span></h2>
        <table id="board"></table>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
    <script>
        let roomIdLabel = document.getElementById('roomIdLabel');
        roomIdLabel.innerText = roomId;
        
        roomIdLabel.onclick = () => document.execCommand('copy')
        roomIdLabel.addEventListener('copy', (ev) => {
            event.preventDefault();
            if (event.clipboardData) {
                event.clipboardData.setData("text/plain", roomId);
                console.log(event.clipboardData.getData("text"))
                alert('Copied lobby id to the clipboard')
            }
        })


        socket.emit('joinRoom', { roomId, username: localStorage.getItem('username') });

        socket.on('updatePlayers', (players) => {
            const playersList = document.getElementById('playersList');
            playerList.innerHTML = '';
            players.forEach(player => {
                const li = document.createElement('li');
                li.textContent = `${player.username} (Игрок ${player.number})`;
                playerList.appendChild(li);
            });
        });
    </script>
</body>
</html>
